* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.todo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* LIST STYLING */
.todo__container {
  height: 430px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo__form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo__form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 15px;
}

.todo__form button {
  padding: 15px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  cursor: pointer;
}

.todo__list {
  height: 100%;
  width: 100%;
}

[data-item] {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

[data-item] input {
  cursor: pointer;
}

[data-item] span {
  text-decoration: none;
}

[data-item] .done span {
  text-decoration: line-through;
}
/* END OF LIST STYLING */
/* CREATING DIFF */
